@import "../../../core/client/scss/partials/variables";
@import "../../../core/client/scss/partials/mixins";
@import "../../../core/client/scss/partials/placeholders";

.full-view {
	height: 100vh;
	align-content: center;
	align-items: center;
	justify-content: center;

	> article {
		max-width: 30%;
	}
}

.category-tabs {
	width: 100%;
	min-height: 100vh !important;
	padding-top: 68px;

	.expense-card {
		width: 70%;
	}

	md-tabs[md-border-bottom]:not(.md-dynamic-height) md-tabs-content-wrapper, md-tabs-content-wrapper {
		top: 117px !important;
	}
}

.expense-card {
	padding: 2em;
	margin: 30px auto;
	position: relative;
	
	h2 {
		margin-bottom: 10px;

		&:before {
			content: '';
			display: block;
			width: 100%;
			height: 17px;
			position: absolute;
			top: 0;
			left: 0;
		}

		&.charm-expense:before {
			background-color: $red;
		}

		&.charm-income:before {
			background-color: $light_green;
		}
	}
}

