@import "variables";

@mixin material_btn($bg_color: false) {
	@if (not $bg_color) {
		background-color: transparent;
		color: $grey;
		border-radius: 20px;
		border: 1px solid $light_blue;

		&:hover, &:focus, &:active, &:visited {
			background-color: transparent;
		}
	} @else {
		color: $white;
		background-color: $bg_color !important;

		&:hover, &:focus, &:active, &:visited {
			background-color: $bg_color !important;
		}
	}
}

@mixin rounded_corner($arc) {
	-moz-border-radius: $arc;
	-webkit-border-radius: $arc;
	border-radius: $arc;  
}

@mixin font_size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
}

@mixin placeholder_style ($style:false) {
	font-weight: 500;
	// main styles used by default
	@if (not $style) or ($style == 'main') {
		color: $grey;
	}

	// alternative style
	@if $style == 'alt' {
		color: $darker_blue;
	}

	@if $style == 'white' {
		color: $white;
	}
}

@mixin apply_placeholders ($style:false) {
	&::-webkit-input-placeholder {
		@include placeholder_style($style);
	}

	&:-moz-placeholder {
		@include placeholder_style($style);
	}
	&.placeholder {
		@include placeholder_style($style);
	}
}