/* Font variables */
$font_primary: 'Effra', sans-serif;

/* Color variables  */
$black: #252525;
$white: #fff;

$dark_grey: #626262;
$grey: #92969c;
$light_grey: #F3F5F9;
$lighter_grey: #c1c8d0;

$blue_grey: #d3d3e3;
$blue: #4777DB;
$light_blue: #72c8fa;
$darker_blue: #4d5a6d;
$dark_blue: #1d2029;

$light_green: #6dd9aa;

$red: #f07575;
$light_orange: #efc75e;

$light_blue_grey: #EBF1F5;