<section ng-controller="AuthenticationController" class="auth-view">
  <form name="userForm" ng-submit="signup(userForm.$valid)" class="signin" novalidate autocomplete="off">
    <fieldset>
      <!-- Workaround for Chrome autocomplete -->
      <div style="display:none">
        <input type="text">
        <input type="password">
      </div>

      <md-input-container>
        <label>First Name</label>
        <input required name="firstName" ng-model="credentials.firstName" autocomplete="off">
        <div ng-messages="userForm.firstName.$error" ng-show="userForm.firstName.$dirty || invalid">
          <div ng-message="required">First Name is required.</div>
        </div>
      </md-input-container>

      <md-input-container>
        <label>Last Name</label>
        <input required name="lastName" ng-model="credentials.lastName" autocomplete="off">
        <div ng-messages="userForm.lastName.$error" ng-show="userForm.lastName.$dirty || invalid">
          <div ng-message="required">Last Name is required.</div>
        </div>
      </md-input-container>

      <md-input-container>
        <label>Email</label>
        <input required type="email" name="email" ng-model="credentials.email" autocomplete="off">
        <div ng-messages="userForm.email.$error" ng-show="userForm.email.$dirty || invalid">
          <div ng-message="required">Email is required.</div>
          <div ng-message="email">Email address is invalid.</div>
        </div>
      </md-input-container>

      <md-input-container>
        <label>Username</label>
        <input required name="username" ng-model="credentials.username" autocomplete="off">
        <div ng-messages="userForm.username.$error" ng-show="userForm.username.$dirty || invalid">
          <div ng-message="required">Username is required.</div>
        </div>
      </md-input-container>

      <md-input-container>
        <label>Password</label>
        <input required type="password" name="password" ng-model="credentials.password" autocomplete="off">
        <div ng-messages="userForm.password.$error" ng-show="userForm.password.$dirty || invalid">
          <div ng-message="required">Password is required.</div>
        </div>
      </md-input-container>
      
      <div ng-show="error" ng-repeat="singleError in error" class="auth-errors">
        <span ng-bind="singleError"></span>
      </div>

    </fieldset>

    <footer>
      <md-button type="submit" class="md-primary"> Register </md-button>
      &nbsp; or&nbsp;
      <a ui-sref="authentication.signin" class="show-signup">LOG IN</a>
    </footer>
  </form>
</section>
