@charset "UTF-8";
/* Font variables */
/* Color variables  */
/* Font variables */
/* Color variables  */
/* Font variables */
/* Color variables  */
.box_shadow {
  box-shadow: 6px 6px 8px -2px #e4e8ed; }

.flex {
  display: -webkit-box;
  /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
  /* OLD: Firefox (buggy) */
  display: -ms-flexbox;
  /* MID: IE 10 */
  display: -webkit-flex;
  /* NEW, Chrome 21–28, Safari 6.1+ */
  display: flex;
  /* NEW: IE11, Chrome 29+, Opera 12.1+, Firefox 22+ */ }

/* Custom web font  */
@font-face {
  font-family: 'Effra';
  src: url("../fonts/Effra/Effra_Std_Bd.eot") format("embedded-opentype");
  src: url("../fonts/Effra/Effra_Std_Bd.ttf") format("truetype");
  src: url("../fonts/Effra/Effra_Std_BdIt.eot") format("embedded-opentype");
  src: url("../fonts/Effra/Effra_Std_BdIt.ttf") format("truetype");
  src: url("../fonts/Effra/Effra_Std_He.eot") format("embedded-opentype");
  src: url("../fonts/Effra/Effra_Std_He.ttf") format("truetype");
  src: url("../fonts/Effra/Effra_Std_HeIt.eot") format("embedded-opentype");
  src: url("../fonts/Effra/Effra_Std_HeIt.ttf") format("truetype");
  src: url("../fonts/Effra/Effra_Std_It.eot") format("embedded-opentype");
  src: url("../fonts/Effra/Effra_Std_It.ttf") format("truetype");
  src: url("../fonts/Effra/Effra_Std_Lt.eot") format("embedded-opentype");
  src: url("../fonts/Effra/Effra_Std_Lt.ttf") format("truetype");
  src: url("../fonts/Effra/Effra_Std_LtIt.eot") format("embedded-opentype");
  src: url("../fonts/Effra/Effra_Std_LtIt.ttf") format("truetype");
  src: url("../fonts/Effra/Effra_Std_Md.eot") format("embedded-opentype");
  src: url("../fonts/Effra/Effra_Std_Md.ttf") format("truetype");
  src: url("../fonts/Effra/Effra_Std_MdIt.eot") format("embedded-opentype");
  src: url("../fonts/Effra/Effra_Std_MdIt.ttf") format("truetype");
  src: url("../fonts/Effra/Effra_Std_Rg.eot") format("embedded-opentype");
  src: url("../fonts/Effra/Effra_Std_Rg.ttf") format("truetype"); }

/* html {
	font-size: 62.5%;
} */
body * {
  box-sizing: border-box; }

body, input {
  font-family: "Effra", sans-serif; }

fieldset {
  border: none; }

md-input-container {
  padding: 0; }

md-input-container [ng-messages] {
  min-height: auto; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

.blue-bg-btn, .dark-bg-btn, .orange-bg-btn, .red-bg-btn {
  font-size: 12.5px;
  padding: 0 30px; }

.blue-bg-btn {
  color: #fff;
  background-color: #4777DB !important; }
  .blue-bg-btn:hover, .blue-bg-btn:focus, .blue-bg-btn:active, .blue-bg-btn:visited {
    background-color: #4777DB !important; }

.dark-bg-btn {
  color: #fff;
  background-color: #1d2029 !important; }
  .dark-bg-btn:hover, .dark-bg-btn:focus, .dark-bg-btn:active, .dark-bg-btn:visited {
    background-color: #1d2029 !important; }

.orange-bg-btn {
  color: #fff;
  background-color: #efc75e !important; }
  .orange-bg-btn:hover, .orange-bg-btn:focus, .orange-bg-btn:active, .orange-bg-btn:visited {
    background-color: #efc75e !important; }

.red-bg-btn {
  color: #fff;
  background-color: #f07575 !important; }
  .red-bg-btn:hover, .red-bg-btn:focus, .red-bg-btn:active, .red-bg-btn:visited {
    background-color: #f07575 !important; }

.transparent-btn {
  background-color: transparent;
  color: #92969c;
  border-radius: 20px;
  border: 1px solid #72c8fa;
  font-size: 11px;
  margin-left: 15px; }
  .transparent-btn:hover, .transparent-btn:focus, .transparent-btn:active, .transparent-btn:visited {
    background-color: transparent; }

.link-btn {
  color: #fff;
  background-color: transparent !important;
  font-size: 11px;
  text-decoration: underline; }
  .link-btn:hover, .link-btn:focus, .link-btn:active, .link-btn:visited {
    background-color: transparent !important; }
  .link-btn.white {
    color: #fff; }
  .link-btn:hover, .link-btn:active, .link-btn:focus {
    text-decoration: underline; }

.alert-error-message {
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3;
  font-size: 10px;
  color: #f07575;
  margin-top: 3px; }

.menu-bar {
  position: fixed;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
  .menu-bar div {
    font-weight: bolder;
    cursor: pointer;
    font-size: 1rem; }
    .menu-bar div:hover {
      color: #252525; }
  .menu-bar .md-fab {
    font-size: 2rem;
    background-color: #72c8fa; }
